header {
  margin-top: -10px;
  background: $white;

  h1 {
    font-size: 12px;
    margin: 10px;
  }

  .navbar-brand {
    color: black;
  }

  .navbar {
    background: #80FF80;
    border-color: #80FF80;
  }

  .header {
    &-nav__logo {
      width: 200px;
      margin-top: -15px;
    }
    &-nav__drop-down {
      background: $thin-gray;
    }
  }

  #header {
    &-nav {
      &__home {
        color: black;
      }

      &__login {
        color: black;
      }

      &__register {
        color: black;
      }

      &__name {
        color: black;
      }

      &__mypage {
        color: black;
        margin: auto;
      }

      &__logout {
        color: black;
        margin: auto;
      }
    }
  }
}